@model Nop.Plugin.Widgets.ProductInStock.Models.StockViewModel

@{
    NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.ProductInStock/Content/js/productInStock.js");
}

<script src="@Url.Content("~/Plugins/Widgets.ProductInStock/wwwroot/custom.catalogproducts.js")" asp-append-version="true"></script>

<script>
    var categoryId = @Html.Raw(Json.Serialize(Model.categoryId));
</script>

<div>
    <label>Stock Status</label>
    <select name="stock-status" id="stock-status">
        <option value="all">All</option>
        <option value="inStock">In Stock</option>
        <option value="outOfStock">Out of Stock</option>
    </select>
</div>

 